*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}
.grid-item{
    width: 230px;
    margin-bottom: 40px;
    border-radius: 15px;
    cursor:zoom-in ;
    background-color: lightgray;
}
.grid-item:hover{
    filter: opacity(0.8);
}


.navbar{
    margin-bottom: 40px;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.navbar .logo{
    width: 25px;
}
